<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <div class="p1">
            <!-- v-model双向绑定 把数据绑定到元素中 不管修改修改了元素还是数据另一个值都会发生改变 -->
            <input type="radio" id="nan" value="男" v-model="sexy" />男
            <input type="radio" id="nv" value="女" v-model="sexy" />女
            <h2>{{sexy}}</h2>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

        <script>
            const p1 = new Vue({
                el: ".p1",
                data: {
                    message: "你好",
                    sexy: "男",
                },
            });
        </script>
    </body>
</html>
